<%- include("partials/secretheader") %>

    <div class="jumbotron text-center">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-3">You've Discovered My Secret!</h1>
            <p class="secret-text">Programming is all about logic</p>
            <hr>
            <a href="/logout" class="btn btn-light btn-lg" role="button">Log Out</a>
        </div>
    </div>

    <%- include("partials/secretfooter") %>